.mailing-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.mailing-manual-text {
  width: calc(100% - 6px);
  height: 400px;

  resize: none;
}

.mailing-input {
}

.mailing-system-fields {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;

  &__field {
    font-weight: bold;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    background-color: #f4f4f4;

    &_radio {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }

    &_input {
      width: 100%;

      padding: 10px;

      border: 2px solid #ccc;
      border-radius: 5px;

      box-sizing: border-box;

      transition: border-color 0.3s ease;
    }
  }
}
